<a href="https://colab.research.google.com/github/abdul12013/LERN/blob/main/categoricalImputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"/content/1_1_2023_general.csv")
data.head()

,connect_price,created_on,tz_date,duration,engagement,freelancers_to_hire,amount_amount,hourly_rate,type,job_ts,...,total_freelancers_to_hire,uid,client_company_org_uid,client_payment_verification_status,client_total_feedback,client_total_reviews,client_total_spent,client_location_country,occupations_category_pref_label,occupations_oservice_pref_label
0,6,2023-01-01T17:33:29Z,2023-01-01T17:33:29Z,More than 6 months,30+ hrs/week,1,NaN,30.0,hourly,1672594409972,...,1,1609603731584323584,1608471451601813505,1.0,0.0,0,0.00,Canada,Translation,Live Interpretation
1,2,2023-01-01T17:38:19Z,2023-01-01T17:38:19Z,Less than 1 month,NaN,1,30.0,NaN,fixed_budget,1672594699447,...,1,1609604946319015936,826145256945999872,1.0,5.0,20,3817.42,United States,Design & Creative,Cartoons & Comics
2,4,2023-01-01T17:38:17Z,2023-01-01T17:38:17Z,Less than 1 month,NaN,1,100.0,NaN,fixed_budget,1672594697764,...,1,1609604938732384256,1608183213743005696,1.0,5.0,1,50.00,United States,Design & Creative,Graphic Design
3,2,2023-01-01T17:38:03Z,2023-01-01T17:38:03Z,3 to 6 months,NaN,1,500.0,NaN,fixed_budget,1672594683145,...,1,1609601320662839296,1609595819727970305,2.0,0.0,0,0.00,Sweden,Sales & Marketing,Social Media Marketing
4,4,2023-01-01T17:37:54Z,2023-01-01T17:37:54Z,1 to 3 months,NaN,5,350.0,NaN,fixed_budget,1672594674356,...,5,1609604840953905152,1609320405007642625,1.0,0.0,0,0.00,United Kingdom,Sales & Marketing,Telemarketing

In [3]:
data.isnull().sum()

connect_price                            0
created_on                               0
tz_date                                  0
duration                                 0
engagement                            2191
freelancers_to_hire                      0
amount_amount                         2804
hourly_rate                           3205
type                                     0
job_ts                                   0
proposals_tier                           0
published_on                             0
renewed_on                            4915
tier                                     0
title                                    0
total_freelancers_to_hire                0
uid                                      0
client_company_org_uid                   0
client_payment_verification_status     113
client_total_feedback                    0
client_total_reviews                     0
client_total_spent                       0
client_location_country                  0
occupations_category_pref_label          0
occupations_oservice_pref_label          0
dtype: int64

In [4]:
data.ffill(inplace=True)

In [5]:
data.head()

,connect_price,created_on,tz_date,duration,engagement,freelancers_to_hire,amount_amount,hourly_rate,type,job_ts,...,total_freelancers_to_hire,uid,client_company_org_uid,client_payment_verification_status,client_total_feedback,client_total_reviews,client_total_spent,client_location_country,occupations_category_pref_label,occupations_oservice_pref_label
0,6,2023-01-01T17:33:29Z,2023-01-01T17:33:29Z,More than 6 months,30+ hrs/week,1,NaN,30.0,hourly,1672594409972,...,1,1609603731584323584,1608471451601813505,1.0,0.0,0,0.00,Canada,Translation,Live Interpretation
1,2,2023-01-01T17:38:19Z,2023-01-01T17:38:19Z,Less than 1 month,30+ hrs/week,1,30.0,30.0,fixed_budget,1672594699447,...,1,1609604946319015936,826145256945999872,1.0,5.0,20,3817.42,United States,Design & Creative,Cartoons & Comics
2,4,2023-01-01T17:38:17Z,2023-01-01T17:38:17Z,Less than 1 month,30+ hrs/week,1,100.0,30.0,fixed_budget,1672594697764,...,1,1609604938732384256,1608183213743005696,1.0,5.0,1,50.00,United States,Design & Creative,Graphic Design
3,2,2023-01-01T17:38:03Z,2023-01-01T17:38:03Z,3 to 6 months,30+ hrs/week,1,500.0,30.0,fixed_budget,1672594683145,...,1,1609601320662839296,1609595819727970305,2.0,0.0,0,0.00,Sweden,Sales & Marketing,Social Media Marketing
4,4,2023-01-01T17:37:54Z,2023-01-01T17:37:54Z,1 to 3 months,30+ hrs/week,5,350.0,30.0,fixed_budget,1672594674356,...,5,1609604840953905152,1609320405007642625,1.0,0.0,0,0.00,United Kingdom,Sales & Marketing,Telemarketing

Back filling string imputation method

In [14]:
data2=pd.read_csv(r"/content/1_1_2023_general.csv")
data2.head(10)

,connect_price,created_on,tz_date,duration,engagement,freelancers_to_hire,amount_amount,hourly_rate,type,job_ts,...,total_freelancers_to_hire,uid,client_company_org_uid,client_payment_verification_status,client_total_feedback,client_total_reviews,client_total_spent,client_location_country,occupations_category_pref_label,occupations_oservice_pref_label
0,6,2023-01-01T17:33:29Z,2023-01-01T17:33:29Z,More than 6 months,30+ hrs/week,1,NaN,30.0,hourly,1672594409972,...,1,1609603731584323584,1608471451601813505,1.0,0.0,0,0.00,Canada,Translation,Live Interpretation
1,2,2023-01-01T17:38:19Z,2023-01-01T17:38:19Z,Less than 1 month,NaN,1,30.0,NaN,fixed_budget,1672594699447,...,1,1609604946319015936,826145256945999872,1.0,5.0,20,3817.42,United States,Design & Creative,Cartoons & Comics
2,4,2023-01-01T17:38:17Z,2023-01-01T17:38:17Z,Less than 1 month,NaN,1,100.0,NaN,fixed_budget,1672594697764,...,1,1609604938732384256,1608183213743005696,1.0,5.0,1,50.00,United States,Design & Creative,Graphic Design
3,2,2023-01-01T17:38:03Z,2023-01-01T17:38:03Z,3 to 6 months,NaN,1,500.0,NaN,fixed_budget,1672594683145,...,1,1609601320662839296,1609595819727970305,2.0,0.0,0,0.00,Sweden,Sales & Marketing,Social Media Marketing
4,4,2023-01-01T17:37:54Z,2023-01-01T17:37:54Z,1 to 3 months,NaN,5,350.0,NaN,fixed_budget,1672594674356,...,5,1609604840953905152,1609320405007642625,1.0,0.0,0,0.00,United Kingdom,Sales & Marketing,Telemarketing
5,6,2023-01-01T17:37:37Z,2023-01-01T17:37:37Z,More than 6 months,NaN,1,1000.0,NaN,fixed_budget,1672594657887,...,1,1609604770485403648,1558533522731122689,1.0,0.0,0,724.00,Norway,Writing,Scriptwriting
6,2,2023-01-01T17:37:20Z,2023-01-01T17:37:20Z,Less than 1 month,NaN,1,400.0,NaN,fixed_budget,1672594640076,...,1,1609604695986176000,1465015623623933953,2.0,0.0,0,0.00,United States,"Web, Mobile & Software Dev",Mobile App Development
7,1,2023-01-01T17:36:36Z,2023-01-01T17:36:36Z,Less than 1 month,Less than 30 hrs/week,0,NaN,NaN,no_budget,1672594596152,...,0,1609604511659962368,1609597191999381505,2.0,0.0,0,0.00,United States,Engineering & Architecture,Mechanical Engineering
8,6,2023-01-01T17:36:33Z,2023-01-01T17:36:33Z,3 to 6 months,Less than 30 hrs/week,1,NaN,42.0,hourly,1672594593008,...,1,1609604499393613824,1420712620378939393,2.0,0.0,0,0.00,Nepal,Writing,Business & Proposal Writing
9,4,2023-01-01T17:35:56Z,2023-01-01T17:35:56Z,Less than 1 month,NaN,1,85.0,NaN,fixed_budget,1672594556028,...,1,1609604343526227968,1108044267864932352,1.0,5.0,23,3050.00,Croatia,"Web, Mobile & Software Dev",Ecommerce Website Development

In [18]:
data2.isnull().sum()/data.shape[0]*100

connect_price                          0.000000
created_on                             0.000000
tz_date                                0.000000
duration                               0.000000
engagement                            43.863864
freelancers_to_hire                    0.000000
amount_amount                         56.136136
hourly_rate                           64.164164
type                                   0.000000
job_ts                                 0.000000
proposals_tier                         0.000000
published_on                           0.000000
renewed_on                            98.398398
tier                                   0.000000
title                                  0.000000
total_freelancers_to_hire              0.000000
uid                                    0.000000
client_company_org_uid                 0.000000
client_payment_verification_status     2.262262
client_total_feedback                  0.000000
client_total_reviews                   0.000000
client_total_spent                     0.000000
client_location_country                0.000000
occupations_category_pref_label        0.000000
occupations_oservice_pref_label        0.000000
dtype: float64

In [19]:
data2.bfill(inplace=True)

In [21]:
data2.isnull().sum()/data.shape[0]*100

connect_price                         0.000000
created_on                            0.000000
tz_date                               0.000000
duration                              0.000000
engagement                            0.000000
freelancers_to_hire                   0.000000
amount_amount                         0.080080
hourly_rate                           0.000000
type                                  0.000000
job_ts                                0.000000
proposals_tier                        0.000000
published_on                          0.000000
renewed_on                            1.701702
tier                                  0.000000
title                                 0.000000
total_freelancers_to_hire             0.000000
uid                                   0.000000
client_company_org_uid                0.000000
client_payment_verification_status    0.000000
client_total_feedback                 0.000000
client_total_reviews                  0.000000
client_total_spent                    0.000000
client_location_country               0.000000
occupations_category_pref_label       0.000000
occupations_oservice_pref_label       0.000000
dtype: float64

categorical imputation using mod

mode kaise nikalste hai :
    data['renewed_on'].mode()

In [23]:
data['renewed_on'].mode()[0]

'2023-01-01T12:27:48Z'

In [26]:
data['renewed_on'].fillna(data['renewed_on'].mode()[0],inplace=True)

In [27]:
data.head(10)

,connect_price,created_on,tz_date,duration,engagement,freelancers_to_hire,amount_amount,hourly_rate,type,job_ts,...,total_freelancers_to_hire,uid,client_company_org_uid,client_payment_verification_status,client_total_feedback,client_total_reviews,client_total_spent,client_location_country,occupations_category_pref_label,occupations_oservice_pref_label
0,6,2023-01-01T17:33:29Z,2023-01-01T17:33:29Z,More than 6 months,30+ hrs/week,1,30.0,30.0,hourly,1672594409972,...,1,1609603731584323584,1608471451601813505,1.0,0.0,0,0.00,Canada,Translation,Live Interpretation
1,2,2023-01-01T17:38:19Z,2023-01-01T17:38:19Z,Less than 1 month,Less than 30 hrs/week,1,30.0,42.0,fixed_budget,1672594699447,...,1,1609604946319015936,826145256945999872,1.0,5.0,20,3817.42,United States,Design & Creative,Cartoons & Comics
2,4,2023-01-01T17:38:17Z,2023-01-01T17:38:17Z,Less than 1 month,Less than 30 hrs/week,1,100.0,42.0,fixed_budget,1672594697764,...,1,1609604938732384256,1608183213743005696,1.0,5.0,1,50.00,United States,Design & Creative,Graphic Design
3,2,2023-01-01T17:38:03Z,2023-01-01T17:38:03Z,3 to 6 months,Less than 30 hrs/week,1,500.0,42.0,fixed_budget,1672594683145,...,1,1609601320662839296,1609595819727970305,2.0,0.0,0,0.00,Sweden,Sales & Marketing,Social Media Marketing
4,4,2023-01-01T17:37:54Z,2023-01-01T17:37:54Z,1 to 3 months,Less than 30 hrs/week,5,350.0,42.0,fixed_budget,1672594674356,...,5,1609604840953905152,1609320405007642625,1.0,0.0,0,0.00,United Kingdom,Sales & Marketing,Telemarketing
5,6,2023-01-01T17:37:37Z,2023-01-01T17:37:37Z,More than 6 months,Less than 30 hrs/week,1,1000.0,42.0,fixed_budget,1672594657887,...,1,1609604770485403648,1558533522731122689,1.0,0.0,0,724.00,Norway,Writing,Scriptwriting
6,2,2023-01-01T17:37:20Z,2023-01-01T17:37:20Z,Less than 1 month,Less than 30 hrs/week,1,400.0,42.0,fixed_budget,1672594640076,...,1,1609604695986176000,1465015623623933953,2.0,0.0,0,0.00,United States,"Web, Mobile & Software Dev",Mobile App Development
7,1,2023-01-01T17:36:36Z,2023-01-01T17:36:36Z,Less than 1 month,Less than 30 hrs/week,0,85.0,42.0,no_budget,1672594596152,...,0,1609604511659962368,1609597191999381505,2.0,0.0,0,0.00,United States,Engineering & Architecture,Mechanical Engineering
8,6,2023-01-01T17:36:33Z,2023-01-01T17:36:33Z,3 to 6 months,Less than 30 hrs/week,1,85.0,42.0,hourly,1672594593008,...,1,1609604499393613824,1420712620378939393,2.0,0.0,0,0.00,Nepal,Writing,Business & Proposal Writing
9,4,2023-01-01T17:35:56Z,2023-01-01T17:35:56Z,Less than 1 month,Less than 30 hrs/week,1,85.0,16.5,fixed_budget,1672594556028,...,1,1609604343526227968,1108044267864932352,1.0,5.0,23,3050.00,Croatia,"Web, Mobile & Software Dev",Ecommerce Website Development

In [28]:
data.isnull().sum()

connect_price                         0
created_on                            0
tz_date                               0
duration                              0
engagement                            0
freelancers_to_hire                   0
amount_amount                         4
hourly_rate                           0
type                                  0
job_ts                                0
proposals_tier                        0
published_on                          0
renewed_on                            0
tier                                  0
title                                 0
total_freelancers_to_hire             0
uid                                   0
client_company_org_uid                0
client_payment_verification_status    0
client_total_feedback                 0
client_total_reviews                  0
client_total_spent                    0
client_location_country               0
occupations_category_pref_label       0
occupations_oservice_pref_label       0
dtype: int64

filling mode to every object type data

In [38]:
data3=pd.read_csv(r"/content/1_1_2023_general.csv")
for i in data3.select_dtypes(include="object").columns[data3.select_dtypes(include="object").isnull().sum() > 0]:
  print(i)
  data3[i].fillna(data3[i].mode()[0],inplace=True)

engagement
renewed_on

<ipython-input-38-4d08539d4148>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[i].fillna(data3[i].mode()[0],inplace=True)

In [36]:
data3.isnull().sum()

connect_price                            0
created_on                               0
tz_date                                  0
duration                                 0
engagement                               0
freelancers_to_hire                      0
amount_amount                         2804
hourly_rate                           3205
type                                     0
job_ts                                   0
proposals_tier                           0
published_on                             0
renewed_on                               0
tier                                     0
title                                    0
total_freelancers_to_hire                0
uid                                      0
client_company_org_uid                   0
client_payment_verification_status     113
client_total_feedback                    0
client_total_reviews                     0
client_total_spent                       0
client_location_country                  0
occupations_category_pref_label          0
occupations_oservice_pref_label          0
dtype: int64