<a href="https://colab.research.google.com/github/abdul12013/LERN/blob/main/OneHotEDncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

one-hot-encodin = is a type of string encoding use when the data are few or in a limited range like yes, no  and married, unmarried etc

In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('/content/1_1_2023_general.csv')
data.head(20)

,connect_price,created_on,tz_date,duration,engagement,freelancers_to_hire,amount_amount,hourly_rate,type,job_ts,...,total_freelancers_to_hire,uid,client_company_org_uid,client_payment_verification_status,client_total_feedback,client_total_reviews,client_total_spent,client_location_country,occupations_category_pref_label,occupations_oservice_pref_label
0,6,2023-01-01T17:33:29Z,2023-01-01T17:33:29Z,More than 6 months,30+ hrs/week,1,NaN,30.0,hourly,1672594409972,...,1,1609603731584323584,1608471451601813505,1.0,0.000000,0,0.00,Canada,Translation,Live Interpretation
1,2,2023-01-01T17:38:19Z,2023-01-01T17:38:19Z,Less than 1 month,NaN,1,30.0,NaN,fixed_budget,1672594699447,...,1,1609604946319015936,826145256945999872,1.0,5.000000,20,3817.42,United States,Design & Creative,Cartoons & Comics
2,4,2023-01-01T17:38:17Z,2023-01-01T17:38:17Z,Less than 1 month,NaN,1,100.0,NaN,fixed_budget,1672594697764,...,1,1609604938732384256,1608183213743005696,1.0,5.000000,1,50.00,United States,Design & Creative,Graphic Design
3,2,2023-01-01T17:38:03Z,2023-01-01T17:38:03Z,3 to 6 months,NaN,1,500.0,NaN,fixed_budget,1672594683145,...,1,1609601320662839296,1609595819727970305,2.0,0.000000,0,0.00,Sweden,Sales & Marketing,Social Media Marketing
4,4,2023-01-01T17:37:54Z,2023-01-01T17:37:54Z,1 to 3 months,NaN,5,350.0,NaN,fixed_budget,1672594674356,...,5,1609604840953905152,1609320405007642625,1.0,0.000000,0,0.00,United Kingdom,Sales & Marketing,Telemarketing
5,6,2023-01-01T17:37:37Z,2023-01-01T17:37:37Z,More than 6 months,NaN,1,1000.0,NaN,fixed_budget,1672594657887,...,1,1609604770485403648,1558533522731122689,1.0,0.000000,0,724.00,Norway,Writing,Scriptwriting
6,2,2023-01-01T17:37:20Z,2023-01-01T17:37:20Z,Less than 1 month,NaN,1,400.0,NaN,fixed_budget,1672594640076,...,1,1609604695986176000,1465015623623933953,2.0,0.000000,0,0.00,United States,"Web, Mobile & Software Dev",Mobile App Development
7,1,2023-01-01T17:36:36Z,2023-01-01T17:36:36Z,Less than 1 month,Less than 30 hrs/week,0,NaN,NaN,no_budget,1672594596152,...,0,1609604511659962368,1609597191999381505,2.0,0.000000,0,0.00,United States,Engineering & Architecture,Mechanical Engineering
8,6,2023-01-01T17:36:33Z,2023-01-01T17:36:33Z,3 to 6 months,Less than 30 hrs/week,1,NaN,42.0,hourly,1672594593008,...,1,1609604499393613824,1420712620378939393,2.0,0.000000,0,0.00,Nepal,Writing,Business & Proposal Writing
9,4,2023-01-01T17:35:56Z,2023-01-01T17:35:56Z,Less than 1 month,NaN,1,85.0,NaN,fixed_budget,1672594556028,...,1,1609604343526227968,1108044267864932352,1.0,5.000000,23,3050.00,Croatia,"Web, Mobile & Software Dev",Ecommerce Website Development
10,2,2023-01-01T17:35:40Z,2023-01-01T17:35:40Z,Less than 1 month,NaN,1,5.0,NaN,fixed_budget,1672594540234,...,1,1609604277407219712,1527563332139868161,1.0,4.998849,9,4465.00,United States,"Web, Mobile & Software Dev",Scripting & Automation
11,6,2023-01-01T17:35:22Z,2023-01-01T17:35:22Z,More than 6 months,Less than 30 hrs/week,1,NaN,16.5,hourly,1672594522976,...,1,1609604205551267840,1298117492879552512,1.0,4.799327,6,3227.17,Australia,Writing,Creative Writing
12,2,2023-01-01T17:34:56Z,2023-01-01T17:34:56Z,Less than 1 month,Less than 30 hrs/week,0,NaN,NaN,no_budget,1672594496868,...,0,1609604096297172992,1279275960139014144,1.0,5.000000,1,181.33,United States,Translation,General Translation Services
13,2,2023-01-01T17:34:46Z,2023-01-01T17:34:46Z,Less than 1 month,Less than 30 hrs/week,1,NaN,27.5,hourly,1672594486660,...,1,1609604053643935744,425230388902916096,1.0,4.918946,100,390547.39,United Kingdom,Design & Creative,Illustration
14,4,2023-01-01T17:34:12Z,2023-01-01T17:34:12Z,Less than 1 month,NaN,1,2996.0,NaN,fixed_budget,1672594452892,...,1,1609603911687737344,1609599709437419521,2.0,0.000000,0,0.00,United Kingdom,Translation,General Translation Services
15,2,2023-01-01T17:34:07Z,2023-01-01T17:34:07Z,Less than 1 month,Less than 30 hrs/week,1,NaN,25.0,hourly,1672594447520,...,1,1609603889179111424,1126322355708366848,1.0,5.000000,10,3175.32,Canada,"Web, Mobile & Software Dev",Ecommerce Website Development
16,2,2023-01-01T17:33:39Z,2023-01-01T17:33:39Z,Less than 1 month,Less than 30 hrs/week,0,NaN,NaN,no_budget,1672594419992,...,0,1609603774215229440,1609543427393249281,2.0,0.000000,0,0.00,Luxembourg,Sales & Marketing,Social Media Marketing
17,4,2023-01-01T17:33:32Z,2023-01-01T17:33:32Z,Less than 1 month,NaN,1,80.0,NaN,fixed_budget,1672594412252,...,1,1609558429806604288,1608482862747017217,1.0,0.000000,0,78.50,United States,Design & Creative,Illustration
18,1,2023-01-01T17:32:38Z,2023-01-01T17:32:38Z,Less than 1 month,Less than 30 hrs/week,0,NaN,NaN,no_budget,1672594358210,...,0,1609603513738571776,1606319518515585025,2.0,0.000000,0,0.00,United States,Writing,Copy Editing
19,2,2023-01-01T17:32:35Z,2023-01-01T17:32:35Z,Less than 1 month,NaN,1,25.0,NaN,fixed_budget,1672594355996,...,1,1609603505427431424,1298476952308301824,1.0,4.995701,49,10525.39,United States,"Web, Mobile & Software Dev",Mobile App Development

In [3]:
data.isnull().sum()

connect_price                            0
created_on                               0
tz_date                                  0
duration                                 0
engagement                            2191
freelancers_to_hire                      0
amount_amount                         2804
hourly_rate                           3205
type                                     0
job_ts                                   0
proposals_tier                           0
published_on                             0
renewed_on                            4915
tier                                     0
title                                    0
total_freelancers_to_hire                0
uid                                      0
client_company_org_uid                   0
client_payment_verification_status     113
client_total_feedback                    0
client_total_reviews                     0
client_total_spent                       0
client_location_country                  0
occupations_category_pref_label          0
occupations_oservice_pref_label          0
dtype: int64

In [18]:
for i in data.select_dtypes(include='object').columns:
  print(i)
  data[i].fillna(data[i].mode()[0],inplace=True)

created_on
tz_date
duration
engagement
type
proposals_tier
published_on
renewed_on
tier
title
client_location_country
occupations_category_pref_label
occupations_oservice_pref_label

<ipython-input-18-0b8172ffc597>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mode()[0],inplace=True)

In [17]:
data.isnull().sum()

connect_price                            0
created_on                               0
tz_date                                  0
duration                                 0
engagement                               0
freelancers_to_hire                      0
amount_amount                         2804
hourly_rate                           3205
type                                     0
job_ts                                   0
proposals_tier                           0
published_on                             0
renewed_on                               0
tier                                     0
title                                    0
total_freelancers_to_hire                0
uid                                      0
client_company_org_uid                   0
client_payment_verification_status     113
client_total_feedback                    0
client_total_reviews                     0
client_total_spent                       0
client_location_country                  0
occupations_category_pref_label          0
occupations_oservice_pref_label          0
dtype: int64

In [25]:
en_data=data[['type']]

One-hot -encoding get dumies technique

In [22]:
pd.get_dummies(data=en_data)

      fixed_budget  hourly  no_budget
0            False    True      False
1             True   False      False
2             True   False      False
3             True   False      False
4             True   False      False
...            ...     ...        ...
4990          True   False      False
4991         False   False       True
4992         False   False       True
4993         False    True      False
4994         False    True      False

[4995 rows x 3 columns]

one-hot-ecoding using scite-learn

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [39]:
ohe=OneHotEncoder(drop='first')
arr=ohe.fit_transform(en_data).toarray()

In [36]:
dat=pd.DataFrame(arr,columns=ohe.get_feature_names_out())

In [40]:
dat.head()

   type_fixed_budget  type_hourly  type_no_budget
0                0.0          1.0             0.0
1                1.0          0.0             0.0
2                1.0          0.0             0.0
3                1.0          0.0             0.0
4                1.0          0.0             0.0